
  @import url('https://fonts.googleapis.com/css2?family=Lexend&family=Roboto&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Lexend';

  
}
body{
display: flex;
justify-content: flex-start;
align-items: flex-start;

}
button{
  border: none;
  outline: none;
}




/* //////////////////////////////
///////////SIDENAV////////////////////
/////////////////////// */

.side-icon{
  display: flex;
width: 3rem;
height: 3rem;
padding: 0.5rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
}
.sidenav{
  display: inline-flex;
padding: 8.5rem 1.75rem 33rem 1.75rem;
flex-direction: column;
align-items: flex-start;
gap: 3.5rem;
background-color: antiquewhite;

}
.active{
  display: flex;
width: 3rem;
height: 3rem;
padding: 0.5rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
  border-radius: 0.5rem;
background: var(--brand-colour-primary, #5700E5);


/* Normal/large */
box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}
.active-icon{
  color: white;
  
}

/* //////////////////////////////
///////////NAVBAR////////////////////
/////////////////////// */

.nav{
  border: 1px solid black;
  display: inline-flex;
padding: 1rem 2rem;
justify-content: center;
align-items: center;
gap: 50.125rem;
background: var(--neutrals-white-00, #FFF);
}
.search-bar{
  display: flex;
width: 25.375rem;
height: 3.5rem;
padding: 0rem 0.5rem;
align-items: center;
gap: 1rem;
border-radius: 2rem;
background: #F2F2F2;
}
.avatar{
  display: flex;
width: 4rem;
height: 4rem;
padding: 0.625rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 6.25rem;
background: var(--grey-50, #FAFAFA);
}
.search-icon{
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.75rem;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 2rem;
background: var(--brand-colour-primary, #5700E5);
  flex-shrink: 0;
}
.search-game{
  color: var(--neutrals-grey-10, #676E76);

border: none;
outline: none;
background: #F2F2F2;
font-family: Lexend;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
}

/* //////////////////////////////
///////////Main////////////////////
/////////////////////// */

.main{
  width: 90rem;
height: 174.5rem;
background: #F2F2F2;
}

.without-download-container{
  width: 79.5rem;
height: 39.5rem;
flex-shrink: 0;
border-radius: 1rem;
background: var(--neutrals-white-00, #FFF);

}
.game{
  width: 24.5rem;
height: 13.5rem;
flex-shrink: 0;

/* Normal/Medium */
border-radius: 0.5rem;


box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}
.game:hover{
  border-radius: 0.5rem;
background: url(assets/react.svg), lightgray -47.274px -0.568px / 137.143% 100% no-repeat;

/* Normal/large */
box-shadow: 0px 15px 35px 0px rgba(103, 110, 118, 0.08), 0px 5px 15px 0px rgba(0, 0, 0, 0.12);
}
.instand-play{
  color: var(--neutrals-black-10, #1A1A1A);
text-align: center;

/* Headings/Extrasmall/Semi */
font-family: Lexend;
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: 2rem; /* 133.333% */

}

.banner{
  width: 79.5rem;
height: 21rem;
opacity: 0.30000001192092896;
flex-shrink: 0;
}
.banner-text{
  width: 27.125rem;
  color: var(--neutrals-white-00, #FFF);
  font-family: Black Han Sans;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.download-banner{
  display: flex;
width: 24.8125rem;
height: 3.5rem;
padding: 0.5rem 2rem;
justify-content: center;
align-items: center;
gap: 0.5rem;
flex-shrink: 0;
border-radius: 0.25rem;
background: var(--brand-colour-primary, #5700E5);
}
.text-download{
  color: var(--neutrals-white-00, #FFF);
text-align: center;

/* Body/Base/Semi */
font-family: Lexend;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem; /* 150% */
}
.banner-img1{
  width: 10.5rem;
height: 10.5rem;
transform: rotate(13.566deg);
flex-shrink: 0;
border-radius: 1rem;
background: url(assets/gameimg.png), lightgray 2.05px -5.931px / 100% 133.488% no-repeat;
}
.banner-imgs{
  width: 34.10575rem;
height: 19.79325rem;
flex-shrink: 0;
}
.banner-img2{
  width: 6.5rem;
height: 6.5rem;
transform: rotate(19.35deg);
flex-shrink: 0;
border-radius: 1rem;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.banner-img3{
  width: 8rem;
height: 8rem;
transform: rotate(8.049deg);
flex-shrink: 0;
border-radius: 0.5rem;
background: url(<path-to-image>), lightgray 0px -2.167px / 100% 123.592% no-repeat;

}

.banner-img4{
  width: 7.5rem;
height: 7.5rem;
transform: rotate(4.317deg);
flex-shrink: 0;
border-radius: 1rem;
background: url(<path-to-image>), lightgray -0.642px -1.534px / 100% 133.333% no-repeat;
}
